@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.hotel{ 
    margin: 100px auto;
    border: solid #363636; 3px;
    border-top-left-radius: 50px 20px;
    border-top-right-radius: 50px 20px;
    width: 300px;
    height: 590px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    
    
    text-transform: uppercase;
    /* background-repeat: no-repeat; */
    
    background-color:#8ed1fc;
    background-image: url(/backgraund.jpg)
    
    
}
#zveda,h3{
    color: #ff0000;
    
}
.slika{
    width: 300px;
    /* clip-path:ellipse() */
    border-top-left-radius: 50px 16px;
    border-top-right-radius: 55px 16px;

}
#zveda{
    color: #FFD700;
}
#dva{
    
    font-size: small; 
    float: left;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    vertical-align: middle;
    
    padding: 0 4px;
    border-radius: 3px;
    background: #aeaeae;
    color:white;
    
    
}
#plava {
    color: red;
}
#plavap{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large
}
p{
    font-size: 15px;
    color: #003366;
    font-weight: 400;
    line-height: 20px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#krevet{
    float: left;
    
    font-size: 30px;
    color:#ff4040;
    padding: 10px;
    margin: 20;
}
#krevet,p{
    
}
#metar{
    color: #CC0000; 
    float: left;
    font-size: 20px;
    padding: 10px;
    margin: 20;
}
#par{
    color: #008009;
    float: left;
    font-size: 10;
    margin: 20;
    padding-bottom: 20px;
    
}
#dva{
    color: black;
}
#tus{
    float: left;
    font-size:30px;
    
}
#yes{
    float: left;
    color:#008000;

    font-size: 25px;
    margin: 20;
    padding-bottom: px;
}
#bazen{
    float: left;
    
    font-size: 30px;
    color:#4c4cff;
    padding: 10px;
    margin: 20;
}
#tus{
    color: #fe6b00;
    padding: 10px;
}
#kucaa{
    float: left;
}
div{
    border-top-left-radius: 50px 20px;
    border-top-right-radius: 50px 20px;
    
    
    
}


