/* ::before & after */
/* p::before{
    content: "Dobar dan";
    display: block;
    font-weight: bold;
    font-size: 2rem;
    color: red;
    background-color: black;
}
p::after{
    content: "Dovicenja";
    width: 100%;
    height: 3rem;
    font-weight: bold;
    font-size: 1rem;
    color: red;

} */
div{
    margin: 70vw;
    margin: 100ex auto;
    border: 2px solid red;
    position: relative;
}
img{
    width: 100%;
    display: block;
}
div::before {
    content: "";
    width: 100%;
    height: 100%;
    margin: 100px auto;
    border: 2px solid blue;
    position: absolute;
    box-sizing: border-box;
    top: -40px;
    left: -40px;
    z-index: -2;
    transition: all 0.5s linear;
}
div::after{
    content: "";
    background: rgba(128, 125, 128, 0.5);
    height: 100%;
    width: 100%;
    top: -20px;
    left: -20px;
    box-sizing: border-box;
    position: absolute;
    transition: all 0.5s linear;
}
div:hover::after,
div:hover ::before{
    top: 0;
    left: 0;
}