body {
    font-family: 'Josefin Sans', sans-serif;
}



div {
    display: inline-block;
    width: 500px;
    height: 500px;
    background-color: orange;
}

i span {
    color: red;
    margin-left: 5px;
}

#jedan {
    color: blue;
}

.naslov span {
    color: red;
}



.naslov {
    visibility: hidden;
}