body{
    margin: 0;
    padding: ;
    box-sizing: border-box  ;
}
div, .glavni{
display:grid;
height: 300px;
width: 644px;
grid-template-columns: auto auto;
grid-template-rows: auto auto;

    
    
}
.a{
    background: tomato;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.b{
    background:	#6d9bc3;
    
}
.c{
    background: gold;
    padding-right: 30px;
    text-align: center;
}
.d{
    background: silver;
}
.b{
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
    color:	#246bce;
    text-align: center;
    float top: 100;
}
.a, .img{
    width: auto;
    height: 300px;
}
b, .dva{
    width: 400px;
    height: auto;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    float: left;

}
.c{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    
    
}
.tri{
    width: 250px;
    height: 220px;
}
.b, .slikadva{
    height: 258px;
}
.b, p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.d, h4{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: #2243b6  ;
    
}